body {
	background-color: powderblue;
	width: 700px;
	text-align: center;
}
h1 {
	color: blue;
}
h2 {
	color: blue;
	text-align: center;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.box1{
	width: 400px;
	height: 100px;
	background-color: red;
}
.box2{
	width: 400px;
	height: 100px;
	background-color: yellow;
}